* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}

body { 
   background-color: #ececec; 
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0rem;
}

li {
  list-style-type: none;
}

/* header nav */

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
}

.header-desktop-nav {
  display: none;
}

.header-link {
  font-weight: bold;
}

.logo{
  display: flex;
  align-items: center;
  width: 50%;
}

.input-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

input[type="checkbox"] {
  height: 60px;
  width: 60px;
  -webkit-appearance: none;
  box-shadow: -10px -10px 15px rgb(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);
  border-radius: 50%;
  border: 8px solid #ececec;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input[type="checkbox"]:after {
 font-family: FontAwesome;
 content: "\f0c9";
 color: #7a7a7a;
 font-size: 25px;
}

input[type="checkbox"]:checked {
  box-shadow: -10px -10px 15px rgb(255, 255, 255, 0.5), 
  10px 10px 15px rgba(70, 70, 70, 0.12), 
  inset -10px -10px 15px rgb(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
}

/* must be manage with JS and animations*/
input[type="checkbox"]:checked:after{
  color: #15e38a;
}

.offcanvas {
  width: 215px;
  background: #ececec;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.90);
}

.offcanvas-header {
  display: flex;
  justify-content: flex-end;
}

.btn-close:hover {
  color: #FC8472;
}

.offcanvas-body {
  display: flex;
  justify-content: center;
}

.offcanvas-ul {
  padding-left: 0;
  padding-right: 1rem;

  flex-direction: column;
  display: flex;
  justify-content: space-evenly;

}

.offcanvas-li {
  line-height: 4rem;
}

/* menu icons */
.icon {
  margin-right: 10px;
  font-size: 1.3rem;
  color: #F5f5f5;
  text-shadow: 1px 1px 1px #919191,
    1px 2px 1px #919191,
    1px 3px 1px #919191,
    1px 4px 1px #919191,
    1px 5px 1px #919191,
    1px 6px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

.header-text {
  color:rgb(107, 107, 107);
  font-size: 1.1rem;
}

.header-text:hover {
  color: #000; 
  font-size: 1.1rem;
}

/* main */

.accueil-photo-container {
  display: flex;
  justify-content: center;
}

.photo-portfolio-blob {
  background: #ffd04e;
  width: 37%;
  object-fit: contain;
  border-radius: 64% 36% 27% 75% / 55% 58% 42% 45%;
  animation: pic-animation 5s 10s linear;
}

/* blob animation  */
@keyframes pic-animation {
  0%, 100% {
    border-radius: 64% 36% 27% 75% / 55% 58% 42% 45%;
  }
  25% {
    border-radius: 75% 27% 26% 36% / 73% 16% 64% 27%;
  }
  50% {
    border-radius: 28% 75% 44% 56% / 49% 40% 60% 51%;
  }
  75% {
    border-radius: 40% 60% 70% 30% / 47% 62% 53% 38%;
  }
}

.greeting-container {
  margin: 5% 0 3% 5%;
  padding: 5px;
}

.greeting {
  font-size: 5vw;
}

#title {
  overflow: hidden;
  font-size: 6.3vw;
  padding-top: 20px;
  width: 100%;
}

.stack {
  font-size: 5.6vw;
}

.portfolio-btn-container {
  margin-left: 6%;
}

.btn-primary {
  padding: 0.9vmax;
  width: 17vmax;
  font-size: 0.9rem;
}

/* Profil */

#profil {
  background-color: #fff;
  margin: 80px 15px 25px 15px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 6px -7px 25px rgba(70, 70, 70, 0.5);

}

.profil-title {
  /* margin: 40px 15px 25px 15px; */
  display: flex;
  justify-content: center;
}

.profil-text {
  padding: 15px;
  font-size: 1rem;
  color: dimgray;
}

/* tablette and desktop */
@media screen and (min-width: 768px) {
  .greeting-container {
    margin: 0;
  }
  .greeting {
    font-size: 3vw;
  }
  .stack {
  font-size: 3vw;
}
  #title {
    font-size: 3.2vmax;
    width: 100%;
  }
  .accueil-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .photo-portfolio-blob {
    width: 75%;
  }
  .portfolio-btn-container {
    margin-top: -15px;
    margin-left: 34%;
  }
  .btn-primary {
    padding: 0.9vmax;
    width: 13vmax;
    font-size: 1rem;
}
}

/* big desktop */
@media screen and (min-width: 1199px) {
  .photo-portfolio-blob {
    width: 85%;
  }
  .portfolio-btn-container {
    margin-top: -25px;
    margin-left: 32%;
  }
  .btn-primary {
    padding: 0.7vmax;
    width: 11vmax;
    font-size: 1.15rem;
  }
}
