@mixin social_icons-color {
  color: transparent;
  font-weight: bold;
  -webkit-background-clip: text;
}

@mixin blue__gradient {
  background-image: linear-gradient(to top, #2765ac, #7287c0, #a6acd4, #d5d4e9, #ffffff);
}

@mixin green__gradient {
  background-image: linear-gradient(to bottom, #87eed4, #abe9ef, #cdeefe, #edf5ff, #ffffff);

}

@mixin orange__gradient {
  background-image: linear-gradient(to left, #f5b77c, #ffc0b1, #ffd3e0, #fdebfa, #ffffff);
}


@mixin call-to-action__container {
  position: relative;
  cursor: pointer;
  margin: 5px 10px 30px 10px;
  padding: 10px;
  transition: transform 0.4s cubic-bezier(0.23, 1.83, 0.42, 1.19);
  display: flex;
  justify-content: center;

  &:hover {
    transform: scale(1.15);
  }

  .call-to-action__div {
    width: 100px;
    height: 100px;
    border: 1px #f1f1f1 solid;
    border-radius: 50%;
    animation: 1s linear infinite alternate boxMagic;
  }
}

@mixin call-to-action__contact-container {
  position: inherit;
  display: flex;
  justify-content: center;

  &>a {
    margin: -10px 5px;
    padding: 5px;
    position: inherit;
  }
}

@mixin call-to-action__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 3px;
  font-size: 0.8rem;
  font-family: "Righteous", sans-serif;
  margin: 0 2.5px 0 2.5px;
  color: #faf8f5;
}

@mixin h2 {
  font-size: clamp(1.5rem, 3vw, 1.8rem);
  background-image: linear-gradient(90deg, #b0f3f1, #bd76ae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px 4px;
  padding: 10px;
}

@mixin gradient-animation {
  background-image: linear-gradient(135deg, #6bc5f8, #cf59e6, #E7B9D4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@mixin card {
  .portfolio {
    &__card-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__card {
      display: flex;
      padding-top: 20px;
      margin-bottom: 40px;
      flex-direction: column;
      align-items: center;
      width: 280px;
      border-radius: 10px;
      background: linear-gradient(180deg, rgba(35, 37, 49, .5), rgba(15, 15, 24, .5));
      border: 0.2rem solid #20222e;
      -webkit-backdrop-filter: blur(54px);
      backdrop-filter: blur(54px);
    }

    &__card-image-container {
      width: 70%;
      height: 50vh;
      padding: 15px;
      display: flex;
      justify-content: center;
      border: 1px solid #20222e;
      border-radius: 10px;
    }

    &__card-image {
      object-fit: cover;
    }

    &__card-heading-container {
      width: 100%;
      display: flex;
      flex-direction: flex-start;
      display: flex;
      flex-direction: column;
      margin: 5px;
      padding: 5px;
    }

    &__card-heading {
      margin: 2px 2px 2px 10px;
    }

    // &__card-link {
    // }
  }
}

@mixin mobile {
  @media screen and (max-width: map-get($mobile-breakpoints, little-mobile-max)) {
    @content;
  }
}

@mixin mobile-mid {
  @media screen and (min-width: map-get($mid-mobile-breakpoints, mid-mobile-min)) and (max-width: map-get($mid-mobile-breakpoints, half-mobile)) {
    @content;
  }
}

@mixin mobile-max {
  @media screen and (min-width: map-get($mid-mobile-breakpoints, big-mobile)) and (max-width: map-get($mid-mobile-breakpoints, big-mobile-max)) {
    @content;
  }
}

@mixin tablette {
  @media screen and (min-width: map-get($tablette-breakpoints, min-tablette)) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($desktop-breakpoints, min-desktop)) {
    @content;
  }
}

@mixin screen {
  @media screen and (min-width: map-get($desktop-breakpoints, max-desktop)) {
    @content;
  }
}