#contact {
  background: #10101a;
  width: 100%;
}

.contact {
  width: 100%;

  &__container {
    display: flex;
    padding: 30px 10px;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__img-container {
    display: flex;
    justify-content: center;
  }

  &__img {
    width: 250px;
  }
}

#form {
  position: absolute;
}

#send {
  position: absolute;
}