.footer {
  background: #10101a;

  &__container {
    display: flex;
    align-items: center;
  }

  &__brand {
    width: 100px;
  }

  &__social {
    width: 100%;
  }
}

.footer__socialLinks {
  flex-direction: row;
  margin-left: -35px;
  width: 100%;

  &>a {
    position: inherit;
    padding: 5px;
    margin: 5px;
  }
}