#home {
  background: #10101a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home__title {
  margin: 20px 10px;
  padding: 20px 20px 5px 20px;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  display: inline-block;
  justify-content: center;
  flex-direction: column;
  color: #faf8f5;
}

.home__subtitle {
  font-size: clamp(1.1rem, 5vw, 1.4rem);
  display: flex;
  margin-top: 10px;
}

.colored {
  @include gradient-animation;
}

.home__subtitle i {
  font-size: clamp(0.9rem, 5vw, 1.3rem);
}

.home__presentation {
  display: inline-block;
  justify-content: center;
  text-align: center;
  color: #faf8f5;
  width: 355px;
  margin: 5px 20px 30px 20px;
  padding: 10px;
  font-size: clamp(1rem, 2vw, 1.2rem);

  @include tablette {
    width: 400px;
  }

  @include desktop {
    width: 440px;
  }
}