.container {
  // background-image: linear-gradient(to right bottom, #30303b, #26262e, #1d1d22, #141316, #050505);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}