#profile {
  display: flex;
  justify-content: center;
}

.profile__presentation {
  color: #faf8f5;
  width: 70vw;
  margin: 5px 20px 5px 20px;
  padding: 10px;
  font-size: clamp(0.9rem, 2vw, 1rem);
  font-family: 'Inter', sans-serif;

  @include mobile {
    width: 50vw;
  }
}