html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0
}

i {
  font-size: clamp(1.08rem, 2vw, 1.1rem);
}

html,
body {
  max-width: 100%;
}

body {
  height: 100vh;
  font-size: clamp(1rem, 2vw, 1.1rem);
  font-family: Inter, sans-serif;
}

main {
  width: 100%;
  position: absolute;
  top: 136px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
}

ul {
  list-style: none
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select {
  margin: 0
}

button {
  border: none;
}

html {
  box-sizing: border-box;
}

main {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

// selection de tous les éléments se trouvant dans clean transition (soit tous les éléments dans body)
.clean-transition * {
  //ajout de tous les vendors pour être sûr que tous les nav support la clean transition
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

img,
video {
  height: auto;
  max-width: 100%
}

iframe {
  border: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td,
th {
  padding: 0
}